extends ../layout

block content
    if user && typeof user.name != undefined 
        p Welcome 
            - user.name = user.name.replace(/(^\w{1})|(\s+\w{1})/g, letter => letter.toUpperCase())
            b #{user.name}
        p your e-mail is 
            b #{user.email}
    else
        p does not exist

